@import "fonts","colors"
    
*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: "Montserrat"


// Title

.title
    display: flex
    align-items: center
    padding: 5px
    span
        margin-left: auto
        margin-right: 2%
    img
        margin-right: 2%


.logo
    font-family: "Pacifico"
    font-weight: bold
    font-size: 2.5rem
    margin: 0 2%

.search-img
    width: 25px

// Navbar

.navbar
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    a
        text-decoration: none
        color: $main-text-color
        margin: 5px 15px
        padding: 10px
        border: solid 1px white
        border-radius: $main-border-radius
        &:hover 
            border: solid 1px black

// Main

.container 
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(3, 1fr)
    padding: 100px
    gap: 5%

.item
    aspect-ratio: 4 / 3
    position: relative
    img
        min-width: 100%
        max-width: 350px
        position: block
        border-radius: $main-border-radius
        box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
    .description
        width: 100%
        text-align: center
        position: absolute
        bottom: 10px
        background: rgba(0, 0, 0, 0.5)
        padding: 10px
        p
            color: $second-text-color

// Footer
footer
    background-color: black
    position: relative
    padding: 3% 15%
    margin-top: 50px
    text-align: center
    color: $second-text-color
    i
        margin: 20px
        font-size: 1.5rem
    .copyright
        margin: 20px
        font-size: 0.8rem